<h1>Oops!!!</h1>
<h3>Something went wrong.</h3>
<% let redirectUrl = null %>
<% if(user === 'admin'){ %> 
    <% redirectUrl = '/admin/dashboard' %>    
<% } else { %> 
    <% redirectUrl = '/' %>    
<% } %>
<a href="<%=redirectUrl%>">Click here to go back</a>


<%= user %>